:root {
    --bg-color: #111;       /* dark background for services */
    --main-color: orangered; /* consistent accent */
}
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    list-style: none;
}
html {
    scroll-behavior: smooth;
    zoom: 55%;
    margin: auto;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}
.logo:hover{
    color: orangered;
    text-shadow: 0 0 25px orangered,
                 0 0 50px orangered;
    transform: scale(1.1);
}
span{
    color: orangered;
    font-weight: 900;
}
.navbar a{
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.navbar a:hover,
.navbar a:active{
    color: orangered;
    border-bottom: 3px solid transparent;
    outline-color: orangered;
    text-decoration: underline;
}
.navbar .contact{
    color: black;
}
#hamburger-nav {
    display: none;
}
.hamburger-menu {
    position: relative;
    display: inline-block;
}
.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}
@media screen and (max-width: 1200px) {
    #navbar {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
}
/* Text Animation */
.text-animation {
    font-size: 34px;
    font-weight: 700;
    min-width: 280px;       /* prevents text wrapping */
}

.text-animation span {
    position: relative;
}

/* Animation for Changing Words */
.text-animation span::before{
    content: 'Community Manager/Builder';
    color: var(--main-color);
    animation: words 20s infinite;
}

.text-animation span::after{
    content: "";
    position: absolute;
    right: -8px;
    height: 100%;
    border-left: 3px solid var(--bg-color);
    width: calc(100% + 8px);
    background-color: whitesmoke;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

/* Cursor Animation */
@keyframes cursor {
    to{
        border-left: 2px solid var(--main-color);
    }
}

/* Changing Words Animation */
@keyframes words {
    0%, 
    20%{
        content: 'Community Manager';
    }
    21%, 
    40% {
        content: "2D Animator";
    }
    41%, 
    60%{
        content: "Video Creator";
    }
    61%, 
    80% {
        content: "Community Builder";
    }
    81%, 
    100% {
        content: "Web3 educator";
    }
}
@keyframes typing {
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}
.contact{
    padding: 10px 28px;
    background-color: white;
    color:black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}
.contact:hover{
    background-color: orangered;
    box-shadow: 0 0 25px orangered;
    color: black;
}
.home{
    width: 100%;
    min-height: 150vh;
    background: rgb(241, 241, 241);
    display: flex;
    align-items: center;
    gap: 10em;
    padding: 30px 12% 0;
    align-items: center;
    padding: auto;
}
.home,
.about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 3em;
}

.home-content{
max-width: 800px;
}
.home-content h3{
    font-size: 42px;
}
.home-content h1{
    font-weight: 500;
    font-size: 62px;
    font-family: "poppins";
    line-height: 1.2;
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.home-content h1 {
    padding-top: 15%;
    animation: fadeInUp 1s ease-out forwards;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-content p{
    font-size: 18px;
    margin: 25px 0 30px;
}
.btn-box{
    width: 345px;
    display: flex;
    gap: 2em;
    padding-top: 15%;
}
.btn-1{
    padding: 15px 28px;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn-1:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}
.btn-2{
    padding: 15px 20px;
    background-color: orangered;
    color: white;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn-2:hover{
    background-color: white;
    color: orangered;
}
.img-box img{
    border-radius: 100%;
    width: 500px;

}
.img-box img:hover{
    animation: zoomIn 2s ease-out forwards;

}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.img-box{
    animation: zoomIn 1.2s ease-out forwards;
    touch-action: initial;
    padding: auto;
    zoom: 75%;
}

::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: orangered;
}
::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.6);
    width: 50px;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background: black;
}
.img-box{
    position: relative;
    width: 500px;
    box-shadow: 0 0 25px orangered,
                0 0 50px orangered;
    border-radius: 50%;
}
.about-content h2{
    text-align: left;
    color: white;
    font-size: 42px;
}
.about-content h3{
    font-size: 62px;
    color: white;
}
.about-content p{
    color: white;
    font-size: 20px;
    margin: 2em 0 3em;
}

.contact-form h2{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 36px;
}
.contact-form{
    max-width: 50em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
    padding-left: 5%;
    padding-right: 5%;
}
.contact-form form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-form form .input-box input,
.contact-form form textarea{
    width: 100%;
    padding: 1.5em;
    font-size: 18px;
    color: black;
    background: rgb(241, 241, 241);
    border-radius: .8rem;
    margin: 1rem 0;
    resize: none;
}
.footer{
    position: justify;
    bottom: 5%;
    width: 100%;
    padding: 40px 0;
    background-color: black;
}
.footer .social{
    text-align: center;
    padding-bottom:2px;
    color: white;
}
.footer .social a{
    font-size: 24px;
    color: white;
    border: 2px solid orangered;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset 0 0 10px orangered, 0 0 10px orangered;
    transition: 0.3s ease;
}
.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    color: orangered;
    border: 2px solid orangered;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 10px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid orangered;
}
.footer ul li a:hover{
    border-bottom: 3px solid orangered;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: white;
}
.services{
    background: var(--bg-color);
    color: white;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 3%;
    padding-top: 1%;
}
.services h2{
    text-align: center;
    font-size: 42px;
    margin-bottom: 4rem;
    margin-top: 3rem;
    color: white;
}
.services-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}
.services-box{
    background-color: white;
    color: black;
    border-radius: 1.5rem;
    padding: 2rem;
    height: 250px;
    box-shadow: 0 0 15px rgba(255, 69, 0, 0.3);
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.services-container .services .services-box h3 p{
    text-align: left;
}
.services-box h3 span {
    color: orangered;
    font-weight: bold;
}
.services-box h3 p{
    text-align: end;
    max-width: 300px;      /* Set according to your design */
    margin-left: auto;
    margin-right: auto;
}
.services-box:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 25px orangered;
}
.experience{
    padding: 6em 12%;
    background: rgb(241, 241, 241);
    color: black;
}

.experience h2{
    text-align: center;
    font-size: 42px;
    margin-bottom: 4rem;
    color: black;
}

.experience-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.experience-box{
    background-color: white;
    border-radius: 1.5rem;
    padding: 2rem;
    height: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.experience-box h3{
    font-size: 22px;
    color: orangered;
    margin-bottom: 0.5rem;
}

.experience-box p{
    font-size: 16px;
    line-height: 1.6;
}

.experience-box:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 25px orangered;
}
/* Projects Section */
.projects {
    padding: 6em 12%;
    background: #f9f9f9;
    color: black;
}
.projects h2 {
    text-align: center;
    font-size: 42px;
    margin-bottom: 4rem;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.project-box {
    background-color: white;
    border-radius: 1.5rem;
    padding: 2rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
}

.project-box h3 {
    font-size: 22px;
    color: orangered;
    margin-bottom: 0.5rem;
}

.project-date {
    font-size: 14px;
    color: gray;
    margin-bottom: 1rem;
    display: block;
}

.project-box p {
    font-size: 16px;
    line-height: 1.6;
}

.project-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 25px orangered;
}

  /* Education Section */
.education {
    padding: 6em 12%;
    background: rgb(241, 241, 241);
    color: black;
}

.education h2 {
    text-align: center;
    font-size: 42px;
    margin-bottom: 4rem;
}

.education-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.education-box {
    background-color: white;
    border-radius: 1.5rem;
    padding: 2rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
}

.education-box h3 {
    font-size: 22px;
    color: orangered;
    margin-bottom: 0.5rem;
}

.education-date {
    font-size: 14px;
    color: gray;
    margin-bottom: 1rem;
    display: block;
}

.education-box p {
    font-size: 16px;
    line-height: 1.6;
}

.education-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 25px orangered;
}